@import '../../assets/style/mixin.scss';
@import '../../assets/style/variable.scss';

.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, $primary-color, transparent);   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 12rem;
        object-fit: cover;
        margin-bottom: 3rem
    }
    .btn {
        @include button($primary-color, rgba(255, 255, 255, 0.5), 1rem, 3rem);
        outline: none;
    }
}